/projects/windows/vs2019/.vs/win_toast/v16
/projects/windows/vs2019/x86_64/Debug
/projects/windows/vs2019/x86_64/Release
/projects/macosx/x86_64
projects/.DS_Store
projects/macosx/.DS_Store
.DS_Store
